*{
    padding:0;
    margin:0;
    font-family: sans-serif;
    
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 2em;
    background-color: #f5f6fa;
}

img{
    width: 550px;
    padding: 1em;
    margin: 0 auto;
}

h1{
    padding: 1em;
}

input{
    padding: 1em 2em;
    font-size: 2em;
}

.container{
    displaY: flex;
    flex-direction: column;
}

button{
    padding: 1em 2em;
    font-size: 2em;
    width: 1500px;
    margin-top: .5em;
    background-color: #4cd137;
    letter-spacing: 5px;
    text-transform: uppercase;
    color:white;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

h1{
    font-size: 3em;
}

p{
    text-align: center;
    width: 1200px;
    margin:  0 auto;
    padding: 1em;
}

.rating{
    font-size: 1.6em;
    padding: 1em;
    border-radius: 50%;
    color:white;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}